<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head></head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form id="frm" enctype="multipart/form-data">
				<h:panelGrid columns="2" cellpadding="5"
					styleClass="panelGridSinBordes">
					<h:outputText value="Usuario:"></h:outputText>
					<p:inputText id="usu" value="#{usuarioBean.usuario.usuario}"
						required="true">
					</p:inputText>
					<p:commandButton id="btnGenerar" value="Buscar"
						actionListener="#{usuarioBean.listar()}" update=":frmPpal:dt usu" />
				</h:panelGrid>
			</h:form>
			<h:form id="frmPpal">
				<p:growl id="msgs" showDetail="true" />
				<p:dataTable id="dt" value="#{usuarioBean.lista}"
					emptyMessage="No se encontraron registros" var="e" paginator="true"
					rows="10" paginatorPosition="bottom"
					currentPageReportTemplate="Mostrando {startRecord}-{endRecord} de {totalRecords}"
					editable="true" selection="#{usuarioBean.usuarioSeleccion}"
					rowKey="#{e.id}" selectionMode="single">
					<p:column headerText="Id">
						<p:outputLabel value="#{e.id}" />
					</p:column>

					<p:column headerText="Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>
					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}-#{e.estadoDesc}" />
					</p:column>
				</p:dataTable>

				<p:commandButton id="btnModificar" value="Modificar"
					actionListener="#{usuarioBean.ConsultarUsuModificar()}"
					oncomplete="PF('consultarUsuarioDialog').show()"
					update="frmPpal:dlg" />


				<p:dialog id="dlg" header="Actualizar Contraseña"
					style="vertical-align: top;" widgetVar="consultarUsuarioDialog"
					modal="true" resizable="false" draggable="true" width="400"
					height="300px">

					<h:panelGrid columns="4">
						<p:outputLabel value="Usuario:" />
						<p:outputLabel
							value="#{usuarioBean.listaUsuarioSeleccion.get(0).usuario}" />
						<p:column />
						<p:column />
						
						<h:outputText value="Contraseña actual: " />
        				<p:password id="pwact" value="#{usuarioBean.password1}" />
        				<p:commandButton id="btnVerificar" value="Verificar"
						actionListener="#{usuarioBean.verificarPw()}" update=":frmPpal:btnAceptar">
						</p:commandButton>
						
        				<p:column />
						
						<p:outputLabel for="pwd1" value="Contraseña 1:" />
						<p:password id="pwd1" value="#{usuarioBean.usuario.contrasena}"	match="pwd2" label="Password 1" 
							validatorMessage="Contraseñas no coinciden" />
						<p:message for="pwd1" display="text" />
						<h:column />

						<p:outputLabel for="pwd2" value="Contraseña 2:" />
						<p:password id="pwd2" value="#{usuarioBean.usuario.contrasena}"	label="Password 2"  />
						<h:column />
						<p:column />
						
						<p:commandButton id="btnAceptar" value="Aceptar"
						actionListener="#{usuarioBean.modificarPw()}" action="/protegido/usuarios?faces-redirect=true" immediate="true"/>
						
        				<p:commandButton id="btnCancelar" value="Cancelar"
        				action="/protegido/usuarios?faces-redirect=true" immediate="true" 
						actionListener="#{usuarioBean.LimpiarCampos()}"/>
        				<p:column />
					</h:panelGrid>
				</p:dialog>
			</h:form>


		</ui:define>
	</ui:composition>
</body>
</html>